@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body,
html {
  background-color: #efefef;
  font-family: "Nunito", sans-serif;
}

button {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  .loadingSpinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #000 transparent #555 transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }
}

.home {
  background-color: #efefef;
  .home-head {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .home-body {
    padding: 15px;
    .home-body-wrap {
      display: flex;
      .home-body-search {
        display: flex;
        background: #fff;
        padding: 15px;
      }
      .home-body-price {
        display: flex;
        background: #fff;
        padding: 15px;
        .home-body-price-head {
          text-align: center;
          padding: 0 0 15px;
          box-shadow: inset 0 -1px 0 rgba(38, 50, 56, 0.1);
          .home-body-price-head-main {
            box-shadow: inset -1px 0 0 rgba(38, 50, 56, 0.1);
          }
        }
      }
    }
  }
}

.oneLine {
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.boxContainer {
  padding: 15px;
  background-color: #fff;
}

.headingTitle {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.pageLogin {
  max-width: 375px;
  height: calc(100vh - 30px);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.logOut {
  padding: 0;
  color: #6c757d !important;
  line-height: 1;
  border: none;
  margin-left: 15px;
  outline: none !important;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.item-important a {
  display: flex;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.color-red {
  color: red !important;
}
